body {
  text-align: center;
}

li {
  list-style: none;
}

h1 {
	color: #e40081;
	text-align: center;
	font-family: courier, times, seraf;
}

.flashy {
  color: red;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.best {
  color: rgb(185, 56, 185);
  font-size: 20px;
  font-weight: 600;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}